
#assets_tab {
  margin-top: 10px;
}

#assets_tab li.li_product_image {
  float: left;
  border: 1px solid #acacac;
  padding: 5px;
  margin: 10px;
  position: relative;
  -webkit-box-shadow: 0 8px 6px -6px #ddd;
     -moz-box-shadow: 0 8px 6px -6px #ddd;
          box-shadow: 0 8px 6px -6px #ddd;
}

.icon-trash {
  background-position: -456px 0;
}

.drop-delete {
  background: url('../images/trash.png') 10px 8px no-repeat;
  margin-top: 15px;
  border: 1px dashed #a7a7a7;
  display: block;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  padding: 15px;
}

.dz-link-wrap {
  width: 380px;
  margin: 0 auto;
}
.over-trash {
  background: url('../images/trash-over.png') 10px 8px no-repeat;
}

.selected {
  background: #eae9eb;
}

.li-to-be-removed {
  width: 30px !important;
  height: auto !important;
}

.img-to-be-removed {
   width: 30px;
}

div > label.x-form-cb-label {
  display: inline;
}

div > input.x-form-field {
  background: none !important;
  margin-bottom: 0px !important;
}

.state {
  margin-bottom: 0px !important;
}


#page_images li.inactive {
  border: 1px solid #ddd;
}

#page_images li.inactive .img-info-wrap a img {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    opacity:0.4;
    filter:alpha(opacity=40); /* For IE8 and earlier */
}

#image_upload {
  position: relative;
}


.image-nav {
  display: none;
}


.li_product_image .remove-img {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 15px;
  height: 15px;
  background: url('../images/remove-icon.png') no-repeat;
  text-indent: -999999px;
  display: none;
}

.asset-edit-inner {
  width: 700px;
  margin: 15px auto;
}
.row-input {
  display: block;
  margin-bottom: 10px;

}

.row-input .row-lbl {
  font-weight: bold;
  font-size: 12px;
  color: #707070;
  width: 120px;
  float: left;
  margin-right: 20px;
  text-align: right;
}

.row-input .row-field {
  border: 1px solid;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  position: relative;
  background-color: #fbfbfb;
  background-image: none;
  border-color: #CCCCCC;
  padding: 5px;
  width: 70%;
}

.row-input .non-input {
  font-weight: bold;
}

.row-input input[type="checkbox"] {
  width: auto;
}

.ui-dialog-titlebar-close {
  background: #ddd url('../images/close-dialog.png') 4px 5px no-repeat;
  border: 1px solid #bbb;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}


/**** Alerts*****/
.danger {
    margin: 10px;
    padding: 5px;
    background: #ffddde;
    border: 1px solid #9b0004;
    color: #9b0004;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

.success {
    margin: 10px;
    padding: 5px;
    background: #dae8bf;
    border: 1px solid #64812e;
    color: #4e6424;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

#asset_category_filters li {
  display: inline-block;
  margin-bottom: 20px;
}

#asset_category_filters li a {
  padding: 5px 10px;
  border: 1px solid #d8d8d8;
  background: #e4e4e4;
  color: #7c7c7c;
  text-decoration: none;
}

#asset_category_filters li.current a,
#asset_category_filters li.first a  {
  border: 1px solid #444444;
  background: #444444;
  font-weight: bold;
  color: #fff;
}

/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements.
   j.mp/bestclearfix */
.clear:before, .clear:after,
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; visibility: hidden; }
.clear:after,
.clearfix:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clear,
.clearfix { zoom: 1; }